parliament-functions==0.1.0
minio==7.2.5
pandas==2.1.4
tabulate==0.8.10
numpy==1.26.4
tabulate==0.8.10
objectmapper==0.0.7
matplotlib==3.8.0
scikit-learn==1.2.2
dtreeviz==2.2.2
alibi==0.9.6
shap==0.42.1
treeinterpreter==0.2.3
eli5==0.13.0
lime==0.2.0.1
seaborn==0.12.2
svglib==1.5.1
aif360~=0.6.1
reportlab==3.6.1
#reportlanb==3.6.13